@{
    dynamic veiculo = null;
    bool erro = false;
    string mensagem = string.Empty;
    string veiculoId = Request.QueryString["Id"];
    var db = WebMatrix.Data.Database.Open("dbVeiculos");
    var fabricantes = db.Query("SELECT * FROM FABRICANTE");
    string nome = "", modelo = "", ano = "", imagem = "", precoMedio = "", fabricante = "", Id="";
    if (string.IsNullOrEmpty(veiculoId) && !IsPost)
    {
        erro = true;
        Response.Redirect("/");
    }
    else if(!IsPost)
    {
        veiculo = db.QuerySingle("SELECT v.*, f.Nome 'FabricanteNome' from Veiculo v inner join Fabricante f on v.Fabricante_id = f.Id where v.id = @0", veiculoId);
        if (veiculo == null)
        {
            erro = true;
            Response.StatusCode = 404;
            mensagem = "Veículo não encontrado";
        }
        else
        {
            Id = veiculo.Id.ToString();
            nome = veiculo.Nome.ToString();
            modelo = veiculo.Modelo.ToString();
            fabricante = veiculo.Fabricante_Id.ToString();
            ano = veiculo.Ano.ToString();
            imagem = veiculo.Imagem.ToString();
            precoMedio = veiculo.PrecoMedio.ToString();
        }

    }

    var message = "";
    Validation.RequireField("Nome", "Nome é obrigatório!");
    Validation.RequireField("Modelo", "Modelo é obrigatório!");
    Validation.RequireField("Fabricante_Id", "Fabricane é obrigatório!");
    Validation.RequireField("Fabricante_Id", "Fabricane é obrigatório!");
    Validation.RequireField("Ano", "Ano é obrigatório!");
    Validation.RequireField("Imagem", "Imagem é obrigatório!");
    Validation.RequireField("PrecoMedio", "Preço Médio é obrigatório!");
    if (IsPost && Validation.IsValid())
    {
        try
        {
            Id = Request.Form["Id"];
            nome = Request.Form["Nome"];
            modelo = Request.Form["Modelo"];
            fabricante = Request.Form["Fabricante_id"];
            ano = Request.Form["Ano"];
            imagem = Request.Form["Imagem"];
            precoMedio = Request.Form["PrecoMedio"];
            var preco = 0.0;
            preco = Convert.ToDouble(precoMedio);
            var result = db.Execute("UPDATE Veiculo set nome = @0, modelo = @1, Fabricante_Id = @2, Ano = @3, Imagem = @4, PrecoMedio = @5 WHERE Id = @6", nome, modelo, fabricante, ano, imagem, preco, Id);
            if (result == 0)
            {
                throw new Exception();
            }
            else
            {
                Response.Redirect("/");
            }
        }
        catch (Exception e)
        {
            message = "Ocorreu um erro, tente novamente.";
        }
    }
    else if (IsPost && !Validation.IsValid())
    {
        Id = Request.Form["Id"];
        nome = Request.Form["Nome"];
        modelo = Request.Form["Modelo"];
        fabricante = Request.Form["Fabricante_id"];
        ano = Request.Form["Ano"];
        imagem = Request.Form["Imagem"];
        precoMedio = Request.Form["PrecoMedio"];
        var preco = 0.0;
        preco = Convert.ToDouble(precoMedio);
    }
    db.Close();
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
@Html.ValidationSummary()
<p>@message</p>
<form method="post" action="EditarVeiculo.cshtml">
    <input name="Id" hidden="hidden" value="@Id"/>
    <div>
        <label>Nome:</label>
        <input type="text" value="@nome" name="Nome"/>
    </div>
    <div>
        <label>Modelo:</label>
        <input type="text" value="@modelo" name="Modelo"/>
    </div>
    <div>
        <label>Fabricante:</label>
    </div>
    <div>
        <label>Fabricante:</label>
        <select name="Fabricante_Id">
            @foreach (var f in fabricantes)
            {
                if (f.Id.ToString() == @fabricante.ToString())
                {
                    <option value="@f.Id" selected="selected">@f.Nome</option>
                }
                else
                {
                    <option value="@f.Id">@f.Nome</option>
                }
            }
        </select>
    </div>
    <div>
        <label>Ano:</label>
        <input type="text" value="@ano" name="Ano"/>
    </div>
    <div>
        <label>Imagem:</label>
        <input type="text" value="@imagem" name="Imagem"/>
    </div>
    <div>
        <label>Preço Médio:</label>
        <input type="text" value="@precoMedio" name="PrecoMedio"/>
    </div>
    <div>
        <button type="submit">Enviar</button>
    </div>
</form>
</body>
</html>
