@{
    dynamic veiculo = null;
    bool erro = false;
    string mensagem = string.Empty;
    string veiculoId = Request.QueryString["Id"];
    var db = WebMatrix.Data.Database.Open("dbVeiculos");
    var fabricantes = db.Query("SELECT * FROM FABRICANTE");
    if (string.IsNullOrEmpty(veiculoId))
    {
        erro = true;
        Response.Redirect("/");
    }
    else
    {
        veiculo = db.QuerySingle("SELECT v.*, f.Nome 'FabricanteNome' from Veiculo v inner join Fabricante f on v.Fabricante_id = f.Id where v.id = @0", veiculoId);
        if (veiculo == null)
        {
            erro = true;
            Response.StatusCode = 404;
            mensagem = "Veículo não encontrado";
        }
        db.Close();

    }

    var message = "";
    Validation.RequireField("Nome", "Nome é obrigatório!");
    Validation.RequireField("Modelo", "Modelo é obrigatório!");
    Validation.RequireField("Fabricante_Id", "Fabricane é obrigatório!");
    Validation.RequireField("Fabricante_Id", "Fabricane é obrigatório!");
    Validation.RequireField("Ano", "Ano é obrigatório!");
    Validation.RequireField("Imagem", "Imagem é obrigatório!");
    Validation.RequireField("PrecoMedio", "Preço Médio é obrigatório!");
    if (IsPost && Validation.IsValid())
    {
        try
        {
            string nome, modelo, ano, imagem, precoMedio,fabricante;
            nome = Request.Form["Nome"];
            modelo = Request.Form["Modelo"];
            fabricante = Request.Form["Fabricante_id"];
            ano = Request.Form["Ano"];
            imagem = Request.Form["Imagem"];
            precoMedio = Request.Form["PrecoMedio"];
            var preco = 0.0;
            preco = Convert.ToDouble(precoMedio);
        }
        catch (Exception e)
        {
            message = "Ocorreu um erro, tente novamente.";
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
@Html.ValidationSummary()
<p>@message</p>
<form method="post" action="CadastroVeiculo.cshtml">
    <div>
        <label>Nome:</label>
        <input type="text" value="@veiculo.Nome" name="Nome"/>
    </div>
    <div>
        <label>Modelo:</label>
        <input type="text" value="@veiculo.Modelo" name="Modelo"/>
    </div>
    <div>
        <label>Fabricante:</label>
    </div>
    <div>
        <label>Fabricante:</label>
        <select name="Fabricante_Id">
            @foreach (var fabricante in fabricantes)
            {
                if (fabricante.Id.ToString() == @veiculo.Fabricante_Id.ToString())
                {
                    <option value="@fabricante.Id" selected="selected">@fabricante.Nome</option>
                }
                else
                {
                    <option value="@fabricante.Id">@fabricante.Nome</option>
                }
            }
        </select>
    </div>
    <div>
        <label>Ano:</label>
        <input type="text" value="@veiculo.Ano" name="Ano"/>
    </div>
    <div>
        <label>Imagem:</label>
        <input type="text" value="@veiculo.Imagem" name="Imagem"/>
    </div>
    <div>
        <label>Preço Médio:</label>
        <input type="text" value="@veiculo.PrecoMedio" name="PrecoMedio"/>
    </div>
    <div>
        <button type="submit">Enviar</button>
    </div>
</form>
</body>
</html>
